.startup-section-1 .circle-center {
  width: 290px;
  height: 290px;
  border-radius: 290px;
  background: linear-gradient(180deg, #6732ff 0%, #fff 100%);
}
.startup-section-1 .shape-man01 {
  top: -10%;
  right: -160%;
  z-index: 4;
}
.startup-section-1 .shape-man02 {
  bottom: -100%;
  left: -55%;
  z-index: 4;
}
.startup-section-1 .rectangle-1 {
  width: 302px;
  height: 301px;
  background: linear-gradient(-90deg, #6732ff 0%, #fff 100%);
  clip-path: polygon(0 45%, 100% 24%, 100% 80%, 0 100%);
}
.startup-section-1 .circle-1-2 {
  width: 776px;
  height: 776px;
  border: 1px solid var(--tc-system-stroke);
  border-radius: 50%;
}
.startup-section-1 .circle-1-3 {
  width: 528px;
  height: 528px;
  border: 1px solid var(--tc-system-stroke);
  border-radius: 50%;
}

.startup-section-3 .shape-icon-01 {
  margin-left: -40px;
}
.startup-section-3 .shape-icon-02 {
  margin-right: -40px;
}

.card-portfolio .card-portfolio-content {
  padding-top: 60px;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.card-portfolio:hover .card-portfolio-content {
  opacity: 1;
  padding-top: 30px;
}

.startup-section-6 .quote {
  background: linear-gradient(180deg, var(--tc-theme-primary) 0%, #fff 100%);
}
.startup-section-6 .quote-lg {
  opacity: 0.04;
}

.startup-section-8 {
  padding-bottom: 201px;
}
.startup-section-8 .img-bg {
  mix-blend-mode: luminosity;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.startup-section-8 .linearGradient {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, var(--tc-theme-primary) 100%);
}

.section-footer-3 .bg-footer-3::before,
.promotion-popup .bg-footer-3::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  opacity: 0.1;
  background: var(--White, #fff);
  z-index: -1;
}
.section-footer-3 .icon svg,
.promotion-popup .icon svg {
  height: 14px;
  width: 14px;
  fill: var(--tc-system-white);
  opacity: 0.5;
}
.section-footer-3 .icon:hover svg,
.promotion-popup .icon:hover svg {
  fill: var(--tc-system-white);
  opacity: 1;
  transition-duration: 0.3s;
}

.nav-tabs {
  --bs-nav-tabs-border-width: var(--bs-border- width);
  --bs-nav-tabs-border-color: var(--bs-border-color);
  --bs-nav-tabs-border-radius: 0;
  --bs-nav-tabs-link-active-color: var(--tc-system-white);
  --bs-nav-tabs-link-hover-border-color: transparent;
}

.nav {
  --bs-nav-link-padding-x: 75px;
  --bs-nav-link-padding-y: 12px;
  --bs-nav-link-font-weight: var(--tc-fw-bold);
  --bs-nav-link-color: var(--tc-system-black);
  --bs-nav-link-hover-color: var(--tc-system-black);
  flex-wrap: nowrap;
}
@media (max-width: 767px) {
  .nav {
    --bs-nav-link-padding-x: 20px;
    --bs-nav-link-padding-y: 12px;
  }
}

.nav-link {
  display: block;
  padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
  font-size: 14px;
  font-weight: 600;
  color: var(--bs-nav-link-color);
  background-color: var(--tc-system-white);
}
.nav-link:first-child {
  border-radius: 10px 0px 0px 10px;
}
.nav-link:last-child {
  border-radius: 0px 10px 10px 0px;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: var(--bs-nav-tabs-link-active-color);
  background-color: var(--tc-theme-primary);
  border-color: transparent;
}
.nav-tabs .nav-item.show .nav-link .underline,
.nav-tabs .nav-link.active .underline {
  opacity: 1;
  transition: 0.3s ease-in-out;
}

.card-solutions {
  cursor: pointer;
}
.card-solutions .icon-shape {
  background: var(--tc-bg-light);
  transition: all 0.3s ease-in-out;
}
.card-solutions .title {
  transition: all 0.3s ease-in-out;
}
.card-solutions:hover .icon-shape {
  background: var(--tc-linear-1);
}
.card-solutions:hover .icon-shape svg path {
  fill: var(--tc-system-white);
}
.card-solutions:hover .title {
  color: var(--tc-theme-primary) !important;
}

.card-team-member .social-icons {
  transition: all 0.2s linear;
  border-radius: 10px;
  overflow: hidden;
  transform: translateY(80%);
  opacity: 0;
}
.card-team-member .social-icons .icon {
  transition: all 0.3s ease-in-out;
  background-color: var(--tc-theme-primary);
  height: 40px;
  width: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.card-team-member .social-icons .icon svg {
  height: 14px;
  width: 14px;
  fill: var(--tc-system-white);
}
.card-team-member .social-icons .icon:hover {
  background-color: var(--tc-system-white);
  border-color: var(--tc-theme-primary) !important;
}
.card-team-member .social-icons .icon:hover svg {
  fill: var(--tc-theme-primary);
}
.card-team-member:hover .social-icons {
  transform: translateY(0);
  opacity: 1;
}
.card-team-member:hover .card-name h6 {
  color: var(--tc-theme-primary);
}

.tag-work {
  transition: all 0.3s ease-in-out;
}
.tag-work .icon-shape {
  transition: all 0.3s ease-in-out;
}
.tag-work .icon-shape svg path {
  transition: all 0.3s ease-in-out;
}
.tag-work:hover {
  transform: translateX(10px);
}
.tag-work:hover .icon-shape {
  background-color: var(--tc-theme-primary) !important;
}
.tag-work:hover .icon-shape svg path {
  fill: var(--tc-system-white);
}

.card-services {
  border-radius: 12px;
}
.card-services:hover {
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.08);
}

.startup-services-details-section-1 .btn-white i {
  transition: all 0.3s ease-in-out;
}
.startup-services-details-section-1 .btn-white:hover i {
  transform: rotate(-45deg);
  transition: all 0.3s ease-in-out;
}
.startup-services-details-section-1 .btn-white.active i {
  transform: rotate(-45deg);
  transition: all 0.3s ease-in-out;
}
.startup-services-details-section-1 .block-form .input-group .form-control {
  color: var(--tc-system-black);
}
.startup-services-details-section-1 .block-form .input-group .form-control:hover, .startup-services-details-section-1 .block-form .input-group .form-control:focus {
  background-color: var(--tc-system-white) !important;
  border: 1px solid var(--tc-system-black) !important;
}

.accordion .card .card-header a {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.accordion .card .card-header a .arrow::before {
  transition: 0.3s;
  transform: rotate(0deg);
  font-family: remixicon;
  content: "\f1af";
  color: var(--tc-theme-primary);
  font-size: 14px;
  font-weight: 300;
}
.accordion .card .card-header a.collapsed .arrow {
  background-color: transparent;
}
.accordion .card .card-header a.collapsed .arrow::before {
  transition: 0.3s;
  color: var(--tc-system-black);
  transform: rotate(180deg);
  content: "\ea13";
}

.rounded-bottom-6 {
  border-radius: 0px 0px 100px 100px;
}

.rounded-top-6 {
  border-radius: 100px 100px 0px 0px;
}

.startup-services-section-2 .swiper-button-prev,
.startup-integrations-section-2 .swiper-button-prev,
.startup-blog-section-1 .swiper-button-prev {
  transform: translateX(-150%);
}

.card-news .badge-primary {
  display: inline-flex;
  padding: 0px 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: var(--White, #fff);
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 162.5% */
  border-radius: 6px;
  background: var(--Indigo, #794aff);
}
.card-news:hover {
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.08);
}

.cart-posts {
  border-radius: 12px;
  overflow: hidden;
  min-height: 500px;
}
.cart-posts .image {
  min-height: 500px;
  background-size: cover;
}
.cart-posts::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%);
}
.cart-posts .card-content {
  position: absolute;
  bottom: 40px;
  left: 40px;
  right: 40px;
}

.startup-contact-section-1 .feedback::before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 50%;
  border-radius: 10px;
  background: linear-gradient(180deg, rgba(89, 89, 89, 0) 0%, #070707 100%);
}
.startup-contact-section-1 .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: var(--tc-system-white);
  opacity: 1;
}
.startup-contact-section-1 .swiper-pagination-bullet-active {
  width: 10px;
  height: 10px;
  background: var(--tc-theme-primary);
}

.startup-contact-section-1 textarea {
  background: white;
  max-height: 150px;
}

.pricing__tab {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 40px;
}

.pricing__tab-btn {
  cursor: pointer;
  color: var(--tc-system-green-5);
  font-weight: 600;
  font-size: 18px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transition: all 0.3s ease-out 0s;
}

.pricing__tab-switcher {
  height: 30px;
  width: 60px;
  display: inline-block;
  border-radius: 30px;
  position: relative;
  margin: 0 15px;
  transform: translateY(0px);
  cursor: pointer;
  background: var(--tc-theme-primary);
}

.pricing__tab-switcher::before {
  content: "";
  position: absolute;
  left: 2px;
  top: 2px;
  bottom: 2px;
  width: 26px;
  border-radius: 50%;
  background: #fff;
  transition: all 0.3s ease-out 0s;
}

.pricing__tab-switcher.active:before {
  left: calc(100% - 28px);
}

.pricing__box {
  background: #fff;
  border: 1px solid #cfdde2;
  border-radius: 15px;
  padding: 50px 65px;
  margin-bottom: 30px;
}

.pricing__price .price.annual_price {
  display: none;
}

.pricing__price.change-subs-duration .monthly_price {
  display: none;
}

.pricing__price.change-subs-duration .annual_price {
  display: flex;
}

.img-project .bg-button {
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.img-project .button {
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.img-project:hover .bg-button {
  filter: blur(20px);
  opacity: 1;
  transition: all 0.3s ease-in-out;
}
.img-project:hover .button {
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

.startup-services-details-section-2 .swiper-button-prev {
  left: -80px !important;
  z-index: 0;
}
.startup-services-details-section-2 .swiper-button-next {
  right: -80px !important;
  z-index: 0;
}
/*# sourceMappingURL=startup.css.map */
